<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.lotterysystem.dao.mapper.ActivityPrizeMapper">


    <insert id="batchInsert" parameterType="list" useGeneratedKeys="true" keyProperty="activityId" keyColumn="id">
        INSERT INTO activity_prize
        (activity_id, prize_id, prize_amount, prize_tiers, status)
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.activityId},
            #{item.prizeId},
            #{item.prizeAmount},
            #{item.prizeTiers},
            #{item.status})
        </foreach>
    </insert>
</mapper>